<%= content_for :head do %>
  
  <title>月蚀漫画 - 个人书架</title>

  <style type="text/css">

  </style>
  
<% end -%>

<div class="row">
  
  
  <div class="span9">
    
    <div class='well'>
      <h2 class='title'>书架</h2>
      <hr style='border-color: silver'/>
      <% if @comics.blank? %>
        <p style='font-size: 24px;text-align:center'>
           还没有收藏漫画
        </p>
      <% else %>
        <ul class="thumbnails" style='padding:15px'>
          <% @comics.each do |comic| %>
            <li class="span2" style='width: 125px'>
              <div class="thumbnail">
                <%= link_to comic do %>
                    <%= image_tag comic.cover %>
                <!-- <img src="http://placehold.it/160x200" alt=""> -->
                <% end -%>
                </a>
                <h3 class='comic_name'>
                   <%= link_to comic.name.truncate(8), comic %>
                </h3>
                 <div style='padding:2px'>
                  <%= link_to comic.sections.first.name, comic.sections.first, :style => 'color:#FA8258' %>
                 </div>
              </div>
            </li>
          <% end -%>
          
        </ul>
        <% end -%>
    </div>
    	
  </div>