<%= content_for :head do  %>
	<%= stylesheet_link_tag 'comics' %>
<% end -%>
<div class='row'>

	<div class='span8 well'>
		<ul class='unstyled'>
			<% @comics.each do |comic| %>
			<li class='comic'>
				<div class='row'>
					<div class='cover span2'>
						<%= link_to comic do %>
							<%= image_tag comic.cover_path %>
						<% end -%>
					</div>

					<div class='info span6' style='margin-left: 0'>
						<div class='name'>
							<%= link_to comic.name, comic %>
						</div>
						<div class='intro'>
							<p>
								<% if comic.description %>
									<%= comic.description.truncate(200) %>
								<% end -%>
							</p>
						</div>

						<div class='tags'>
							<% comic.tags.each do |tag| %>
							<span>
								<%= link_to tag.name, search_comics_path(:key => tag.name) %>
							</span>
							<% end -%>
						</div>

					</div>
				</div>
				<hr class='split'>
			</li>
			<% end -%>
		</ul>
		<%= will_paginate @comics, :previous_label => '<', :next_label => '>' %>
	</div>



</div>