<%= content_for :head do  %>
	<style type="text/css">
		.comic > div{
			height: 170px;
			padding: 5px;
		}

		.comic .cover {
			width: 150px;
			float: left;
		}

		.comic .info {
			width: 500px;
			float: left;
		}

		.comic .name {
			font-size: 24px;
		}

		.comic .intro {
			padding: 15px;
		}

		.comic .tags {
			height: 30px;
			font-size: 18px;
			color: #FE642E;
		}
	</style>
<% end -%>
<div class='row'>

	<div class='span8 well'>
		<ul class='unstyled'>
			<% @comics.each do |comic| %>
			<li class='comic'>
				<div>
					<div class='cover'>
						<%= link_to comic do %>
							<%= image_tag comic.cover %>
						<% end -%>
					</div>

					<div class='info'>
						<div class='name'>
							<%= link_to comic.name, comic %>
						</div>
						<div class='intro'>
							<p>
								<%= comic.description.truncate(200) %>
							</p>
						</div>

						<div class='tags'>
							<% Tag.all.each do |tag| %>
							<span><%= tag.name %></span>
							<% end -%>
						</div>

					</div>
				</div>
			</li>
			<% end -%>
		</ul>
	</div>

</div>

