<%= content_for :head do %>

	<title>月蚀漫画 - 最新更新的漫画</title>

	<style type="text/css">

		.name {
			font-size: 18px;
			margin: 15px 0;
		}

		.time {
			color: green;
			font-size: 18px;
		}

		.time a { 
			color: green;
		}

		.comic:nth-child(odd) {
			background-color: #EEE;
		}

		.info {
			margin: 15px 0;
		}

		.comic {
			margin: 5px;
		}
	</style>
<% end -%>


<div class='row'>

	<div class='span8 well'>
		<ul class='nav nav-pills nav-stacked'>
			<% @comics.each do |comic| %>
			<% section = comic.sections.first %>
			<% next if section.nil? %>
			<li style='' class='comic'>
				<div class='content row'>
					<div class='cover span1'>
						<%= link_to section do %>
							<%= image_tag comic.cover_path, :height => '80px' %>
						<% end -%>
					</div>
					<div class='info span6'>
						<div class='row'>
							<div class='span3'>

						<%= link_to section, :class => 'name' do  %>
							<%= comic.name %>
							<span class='section-name'>(<%= section.name %>)</span>

							<% end -%>
							</div>
							<div class='span2 offset1'>
						<span class='time'> <%= link_to timeformat(comic.updated_at), section %></span>
						</div>
						</div>
					</div>
					
				</div>
			</li>
			<% end -%>
		</ul>
		<%= will_paginate @comics, :previous_label => '<', :next_label => '>' %>
	</div>

</div>
