<%= content_for :head do %>

	<title>月蚀漫画 - 最新更新的漫画</title>

	<style type="text/css">

		.section-name {
			margin: 0 0 0 15px;
		}

		.cover {
			float: left;
		}

		.info {
			padding: 0 0 0 20px;
			float: left;
			width: 600px;
		}

		.name {
			font-size: 24px;
			height: 50px;
			float: left;
		}

		.time {
			float: right;
			color: green;
			font-size: 18px;
			
		}

		.time a { 
			color: green;
		}
	</style>
<% end -%>


<div class='row'>

	<div class='span8 well' style='width:700px'>
		<ul class='nav nav-pills nav-stacked'>
			<% @comics.each do |comic| %>
			<% section = comic.sections.first %>
			<% next if section.nil? %>
			<li style='width: 700px;height: 100px'>
				<div>
					<div class='cover'>
						<%= link_to section do %>
							<%= image_tag comic.cover, :height => '80px' %>
						<% end -%>
					</div>
					<div class='info'>
						<%= link_to section, :class => 'name' do  %>
							<%= comic.name %>
							<span class='section-name'>(<%= section.name %>)</span>

						<% end -%>
						<span class='time'> <%= link_to timeformat(comic.updated_at), section %></span>
					</div>
					
				</div>
			</li>
			<% end -%>
		</ul>
		<%= will_paginate @comics, :previous_label => '<', :next_label => '>' %>
	</div>

</div>
