<%= content_for :head do %>

	<title>月蚀漫画 - <%= "搜索 '#{params[:key]}'" %></title>

<% end -%>

<div class='row'>
	<div class='span8'>
	 <%= form_tag search_comics_path, :class => 'form-search' do %>
	     <%= text_field_tag :key , params[:key],:class => 'input-long search-query', :style => 'height:30px;width: 300px' %>
	  <button type="submit" class="btn" style='height: 40px'>搜索</button>
	   <% end -%>
	</div>
</div>

<div class='row'>
	<div class='span8' style='margin: 0 0 20px 35px'>
		<% Tag.limit(20).each do |t| %>
		    <%= link_to t.name, search_comics_path(:key => t.name) %>
		<% end -%>
	</div>
</div>

<%= render :partial => 'list' %>

