<%= content_for :head do %>
	
	<title>月蚀漫画 - <%= @comic.name %></title>

	<script type="text/javascript">

		$(function () {
			$('.nav-stacked li').hover(function () {
				$(this).addClass('active');
			}, function () {
				$(this).removeClass('active');
			})
		})
		
	</script>

	<style type="text/css">

		.nav {
			font-size: 18px;
		}

		.nav-pills > .active li > a:hover {
			color: white;
			background-color: #08C;
		} 
	</style>
<% end -%>

<ul class="breadcrumb">
  <li>
    <a href="/">首页</a> <span class="divider">/</span>
  </li>
  <li class="active"><%= @comic.name %></li>
</ul>
<div class='row-fluid'>

<div class='span3'>
	<div class='well sidebar-nav'>
		<ul class='nav nav-pills nav-stacked'>
			<% @comic.sections.each do |s| %>
				<% unless s.pages.blank? %>
					<li>
						<%= link_to s.name, s %>
					</li>
				<% end -%>
			<% end -%>
		</ul>
</div>

</div>


<div class='span9'>
	<div>
	<h1  style='padding-bottom: 15px'><%= @comic.name %></h1>
	<div>
		<%= image_tag @comic.cover_path, :style => 'float: left' %>
		<div style='float: left;padding: 15px'>
			<% if login? && current_user.comics.include?(@comic) %>
				<span style='background-color:#F7F7F7;padding:5px;color:green;font-size:18px;border:1px solid silver'>已收藏</span>
			<% else %>
			<%= form_tag favorite_book_users_path do %>
				<%= hidden_field_tag :comic_id, @comic.id %>
				<button class="btn btn-success">放入书柜</button>
			<% end -%>
			<% end -%>

			<div  style='margin:15px 0 0;padding: 5px'>
				状态: <%= @comic.nature_explain %>
			</div>

			<div style='margin:5px 0;padding: 5px'>
				更新日期: <%= @comic.updated_at.strftime("%y/%m/%d") %>
			</div>
		</div>
	</div>


	<div  style='clear:both;padding: 15px 0'>

	<h3 class='title'>简介:</h3>
	<p style='clear:both;padding: 15px'>
		<%= @comic.description %>
	   </p>
	</div>


	</div>

	<div  style='clear:both;padding: 15px 0'>

	<h3 class='title'>标签:</h3>
		<div style='font-size:18px;margin:15px'>
			<% @comic.tags.each do |tag| %>
				<span>
					<%= link_to tag.name, search_comics_path(:key => tag.name) %>
				</span>
			<% end -%>
		</div>
	</div>


	</div>
	<!-- <div style='clear:both;margin:20px 0'>
		<h3><%= link_to "> 美图", '#' %></h3>
		<ul class="thumbnails">
		  <% (1..8).each do %>
		  	<li>
		  	  <div class="thumbnail">
		  	  	<a href="#">
		  	    <img src="http://placehold.it/160x200" alt="">
		  	    </a>
		  	  </div>
		  	</li>
		  <% end -%>
		  
		</ul>
	</div> -->
</div>
</div>