<ul class="breadcrumb">
  <li>
    <a href="/">首页</a> <span class="divider">/</span>
  </li>
  <li class="active"><%= @comic.name %></li>
</ul>
<div class='row-fluid'>

<div class='span3'>
	<div class='well sidebar-nav'>
		<ul class='nav nav-list'>
			<% @comic.sections.each do |s| %>

			<li>
				<a href="">
					<%= s.name %> 
				</a>
			</li>
			<% end -%>
		</ul>
</div>

</div>


<div class='span9'>
	<div>
	<h1  style='padding-bottom: 15px'><%= @comic.name %></h1>
	<div>
		<img src="http://placehold.it/300x260" alt="" style='float: left'>	
		<div style='float: left;padding: 15px'>
			<button class="btn btn-primary">放入书柜</button>
			<ul class='unstyled' style='margin-top:15px'>
				<li style='margin:10px 0'>人气: 15200</li>
				<li style='width:400px'>
					<ul class="unstyled">
					<% (1..20).each do %>
						<li style='float:left'>
						  	<a href="#">
						    <img src="http://placehold.it/50x50" alt="">
						    </a>
						</li>
					<% end -%>
				</li>
			</ul>
		</div>
	</div>
	<p style='clear:both;padding: 15px'>
		<%= @comic.description %>
	   </p>
	</div>
	<div style='clear:both;margin:20px 0'>
		<h3><%= link_to "> 美图", '#' %></h3>
		<ul class="thumbnails">
		  <% (1..8).each do %>
		  	<li>
		  	  <div class="thumbnail">
		  	  	<a href="#">
		  	    <img src="http://placehold.it/160x200" alt="">
		  	    </a>
		  	  </div>
		  	</li>
		  <% end -%>
		  
		</ul>
	</div>
</div>
</div>