<%= content_for :head do %>
  
  <title>月蚀漫画 - <%= "#{@section.comic.name} - #{@section.name}" %></title>

  <script type="text/javascript">
    $(function () {
      $("html,body").animate({scrollTop: $("#move-to-page").offset().top}, 1000);
    });
  </script>

<% end -%>

<ul class="breadcrumb">
  <li>
    <a href="/">首页</a> <span class="divider">/</span>
  </li>
  <li>
  	<%= link_to @section.comic.name, @section.comic %><span class="divider">/</span>
  </li>
  <li class="active">
  	<%= link_to @section.name, @section %>
  </li>
</ul>


<%#= render :partial => 'page_nav' %>
<a href="#" id='move-to-page'></a>

<div class='row'>
	<div class='span8 offset2 well'>
    <% if @section.pages.nil? %>
      <h3>对不起，本章暂无</h3>
    <% else %>
      <% if @page.nil? %>
          <h3>对不起，本页缺失</h3>
        <% else %>
		      <%= link_to section_path(:id => @section, :page_id => @page.id, :tag => 'next'), :class => 'next' do %>
			    <%= image_tag @page.image_path %>
          <% end -%>
    <% end -%>
		<% end -%>
	</div>
</div>
<%#= render :partial => 'page_nav' %>