<%= content_for :head do %>
<% end -%>

<ul class="breadcrumb">
  <li>
    <a href="/">首页</a> <span class="divider">/</span>
  </li>
  <li>
  	<%= link_to @section.comic.name, @section.comic %><span class="divider">/</span>
  </li>
  <li class="active">
  	<%= link_to @section.name, @section %>
  </li>
</ul>


<%#= render :partial => 'page_nav' %>
<div class='row'>
	<div class='span8 offset2 well'>
		<%= link_to section_path(:id => @section, :page_id => @page.id, :tag => 'next'), :class => 'next' do %>
			<%= image_tag @page.image_path %>
		<% end -%>
	</div>
</div>

<%#= render :partial => 'page_nav' %>