	<%= content_for :head do %>
    <style type="text/css">
      .thumbnail{
        border: none;
      }

      .image-box {
        display: block;
        box-shadow: 10px 10px 5px #888888;
      }

      .comic_name {
        
      }
    </style>
  <% end -%>

    
      <div class="row">
        
        <div class="span9">
          <div class='well'>
            <h2><%= link_to '> 最近更新', latest_comics_path %></h2>
            <hr style='border-color: silver'/>
              <%= render :partial => 'thumbs', :locals => {:comics => @latest} %>
          </div>

          <div class='well'>
            <h2><%= link_to '> 热门', hot_comics_path %></h2>
            <hr style='border-color: silver'/>
              <%= render :partial => 'thumbs', :locals => {:comics => @hot} %>
          </div>
          	
        </div>
        <%= render :partial => 'share/sidebar' %>

     

   