	

    
      <div class="row">
        
        <div class="span9">
          <div class='well'>
            <h2><%= link_to '> 最近更新' %></h2>
            <hr style='border-color: silver'/>
              <ul class="thumbnails" style='padding:15px'>
                <% @comics.each do |comic| %>
                  <li class="span2">
                    <div class="thumbnail">
                      <%= link_to comic do %>
                        <%= image_tag comic.cover %>
                      <!-- <img src="http://placehold.it/160x200" alt=""> -->
                      <% end -%>
                      </a>
                      <h5><%= comic.name %></h5>
                      <div style='height: 20px'><span style='float: left'>标签：</span> <ul  class="unstyled" style='float: left'><li><%= link_to "热血", '#' %></li></ul></div>
                    </div>
                  </li>
                <% end -%>
                
              </ul>
          </div>

          <div class='well'>
            <h2><%= link_to '> 热门' %></h2>
            <hr style='border-color: silver'/>
              <ul class="thumbnails" style='padding:15px'>
                <% @comics.each do |comic| %>
                  <li class="span2">
                    <div class="thumbnail">
                      <%= link_to comic do %>
                        <%= image_tag comic.cover %>
                      <!-- <img src="http://placehold.it/160x200" alt=""> -->
                      <% end -%>
                      </a>
                      <h5><%= comic.name %></h5>
                      <div style='height: 20px'><span style='float: left'>标签：</span> <ul  class="unstyled" style='float: left'><li><%= link_to "热血", '#' %></li></ul></div>
                    </div>
                  </li>
                <% end -%>
                
              </ul>
          </div>
          	
        </div>
        <%= render :partial => 'share/sidebar' %>

     

   