<%= content_for :head do %>
	<script type="text/javascript">
		$(function () {
			$('select').change(function () {
				$(this).closest('.edit_post').submit();
			});
		})
	</script>
<% end -%>



<div class='well'>

<table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>名字</th>
            <th>hot</th>
            <th>status</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        	<% @comics.each do |comic| %>
        		<tr>
        		  <td><%= comic.id %></td>
        		  <td><%= link_to comic.name, admin_comic_path(comic) %></td>
        		  <td>
        		  	<%= form_for comic, :as => 'post', :url => admin_comic_path(comic), :method => 'put' do |f| %>
        		  		<%= f.select :hot, (1..10).to_a.map{|i|[i, i]} %>
        		  	<% end -%>
        		  </td>
        		  <td><%= comic.status %></td>
        		  <td>
        		  	<% if comic.enable? %>

        		  	<%= form_tag disable_admin_comic_path(comic) do %>
        		  		<button type='submit' class='btn btn-warning disable'>禁用</button>
        		  	<% end -%>
        		  	<% else %>
        		  	<%= form_tag enable_admin_comic_path(comic) do %>
        		  		<button type='submit' class="btn btn-success enable">启用</button>
        		  	<% end -%>
                    <%= form_tag update_section_list_admin_comic_path(comic) do %>
                        <button type='submit' class='btn update'>更新</button>
                    <% end -%>
        		  	<% end -%>
        		  </td>
        		</tr>
        	<% end -%>
        </tbody>
      </table>


 <%= will_paginate @comics, :class => 'pager' %>

 </div>