<!DOCTYPE html>
<html>
<head>
  <title>Cartoon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <style type="text/css">
    body {
      padding-top: 150px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

  </style>

   <%= yield :head %>
</head>
<body>
<%= render :partial => 'share/nav' %>
<div class="container">
	<%= yield %>
	 <hr>
	 <%= render :partial => 'share/footer' %>
</div>
</body>
</html>
